<footer class="footer py-6 @@classes">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img class="navbar-brand-dark mb-4" height="35" src="@@path/assets/img/brand/light.svg" alt="Logo light">
                <p>O site Software Reability faz parte de um programa de pesquisa desenvolvido pelo grupo de laboratório de High Performance Dependable Computing Systems (HPDCS) da Universidade Federal de Uberlândia - UFU.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://github.com/mtheus/software-reliability" aria-label="github social link" class="icon-white mr-2">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://hpdcs.facom.ufu.br/" class="icon-white" aria-label="dribbble social link" >
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Research</span>
                <ul class="links-vertical mt-2">
                    <li><a target="_blank" href="http://www.portal.facom.ufu.br/">FACOM UFU</a></li>
                    <li><a target="_blank" href="http://hpdcs.facom.ufu.br/">HPDCS Lab</a></li>
                </ul>
            </div>
            <div class="col-3 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Other</span>
                <ul class="links-vertical mt-2">
                    <li><a target="_blank" href="http://hpdcs.facom.ufu.br/">About Us</a></li>
                    <li><a target="_blank" href="http://hpdcs.facom.ufu.br/">Contact Us</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>